@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #f5f5f5;
$-secondary-color: steelblue;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	// background: $-primary-color;
	flex-direction: column;
}

// point : global style

.text {
	color: $-secondary-color;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.logo {
	width: 150px;
	animation: spin 2s linear;
	margin-bottom: 30px;
}

.nav-btn {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 1.2rem;
}

.open-btn {
	position: fixed;
	top: 10px;
	left: 10px;
}

.close-btn {
	position: absolute;
	top: 40px;
	right: 30px;
	opacity: 0.3;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	&.visible {
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
	}

	&.nav-black {
		background-color: rgb(34, 31, 31);
		width: 60%;
		max-width: 480px;
		min-width: 320px;
		transition-delay: 0.4s;
		&.visible {
			transition-delay: 0s;
		}
	}

	&.nav-red {
		background-color: rgb(229, 9, 20);
		width: 95%;
		transition-delay: 0.2s;
		&.visible {
			transition-delay: 0.2s;
		}
	}
	&.nav-white {
		background-color: $-color-white;
		width: 95%;
		padding: 40px;
		position: relative;
		transition-delay: 0s;
		&.visible {
			transition-delay: 0.4s;
		}
		.list {
			padding: 0;

			li {
				margin: 20px 0;

				a {
					color: rgb(34, 31, 31);
					font-size: 0.98rem;
					text-decoration: none;
					text-transform: uppercase;
				}

				ul {
					list-style-type: none;
					padding-left: 20px;
				}

				// &:hover {
				// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				// }
			}
		}
	}
}

// point : add animation

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
