@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #f5f5f5;
$-secondary-color: steelblue;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

// style start

h2 {
	margin-bottom: 4px;
	margin-top: 1.5rem;
	text-align: center;
}

small {
	display: block;
	margin-bottom: 2.8rem;
	text-align: center;
}

.fa-heart {
	color: red;
}

.loveMe {
	position: relative;
	// display: inline-block;
	// font-size: 2rem;
	cursor: pointer;
	height: 440px;
	width: 300px;
	max-width: 100%;
	background: url('https://source.unsplash.com/random/900×700/?fruit') no-repeat
		center center/cover;
	border-radius: 10px;
	transition: transform 0.5s;
	margin: auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	&:hover {
		transform: scale(1.1);
	}

	.fa-heart {
		position: absolute;
		animation: grow 0.6s linear;
		transform: translate(-50%, -50%) scale(0);
	}
}

// animation part
@keyframes grow {
	to {
		transform: translate(-50%, -50%) scale(10);
		opacity: 0;
	}
}
