.carousel {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	height: 750px;
	width: 100%;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	.carousel {
		width: 700px;
		height: 500px;
	}
}

@media only screen and (min-width: 992px) {
	.carousel {
		height: 600px;
	}
}

@media only screen and (min-width: 1200px) {
	.carousel {
		height: 750px;
	}
}

.image-container {
	display: flex;
	transition: transform 0.5s ease-in-out;
	transform: translateX(0);
}

@media only screen and (max-width: 767px) {
	.image-container {
		flex-wrap: wrap;
	}
}

img {
	width: 100%;
	height: auto;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
}

@media only screen and (max-width: 767px) {
	.buttons-container {
		flex-wrap: wrap;
		button {
			width: 100%;
			margin-top: 10px;
		}
	}
}

button {
	background-color: $-primary-color;
	color: $-color-white;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1.5rem;
	width: 49.5%;

	&:hover {
		background-color: $-secondary-color;
		opacity: 0.8;
	}
}

#right {
	right: 0;
	left: auto;
}

#left {
	left: 0;
	right: auto;
}
