@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #f8f9fd;
$-secondary-color: #3e57db;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background: $-primary-color;
	flex-direction: column;
}

.container {
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 300px;
	transition: background-color 0.3s ease-in-out;

	.header {
		background-color: $-secondary-color;
		color: $-color-white;
		padding: 30px 20px;

		.title {
			margin: 0;
		}

		.subtitle {
			display: inline-block;
			margin: 5px 0 20px;
			opacity: 0.8;
		}

		input {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			border-radius: 50px;
			color: $-color-white;
			font-size: 0.875rem;
			padding: 10px 15px;
			width: 100%;
			transition: all 0.3s ease-in-out;
		}
	}

	.user-list {
		background-color: $-color-white;
		list-style-type: none;
		padding: 0;
		margin: 0;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;

		li {
			padding: 20px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease-in-out;
			display: flex;

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
				transform: scale(1.02);
			}

			&:last-child {
				border-bottom: none;
			}

			&.active {
				background-color: rgba(0, 0, 0, 0.1);
			}

			&.active,
			&:hover {
				cursor: pointer;
			}

			&.hide {
				// display: none; /// here is a bug
				opacity: 0;
				height: 0;
				padding: 0;
				transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out,
					padding 0.3s ease-in-out;
			}

			img {
				border-radius: 50%;
				object-fit: cover;
				height: 50px;
				width: 50px;
			}

			.user-info {
				margin-left: 10px;

				h4 {
					margin: 0 0 10px;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}
}
