@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #7bdaf3;
$-secondary-color: #9ec862;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	background: $-primary-color;
	padding-top: 3rem;
}

.add {
	position: fixed;
	top: 1rem;
	right: 1rem;
	background: $-secondary-color;
	color: $-color-white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		background: darken($-secondary-color, 10%);
	}
}

.note {
	background-color: $-color-white;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
	margin: 2rem 1.2rem;
	height: 400px;
	width: 400px;

	.tools {
		background-color: $-secondary-color;
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem;

		button {
			background-color: transparent;
			border: none;
			color: $-color-white;
			font-size: 1.2rem;
			cursor: pointer;
			transition: all 0.3s ease;
			margin-left: 0.5rem;
			&:hover {
				color: darken($-color-white, 10%);
			}
		}
	}

	textarea {
		font-family: inherit;
		font-size: 1.2rem;
		border: none;
		height: 400px;
		width: 100%;
		padding: 1.2rem;
	}
}
.main {
	padding: 1.2rem;
}
.hidden {
	display: none;
}
