@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-color-color: #fff;
$-right-bg-color: #5290f9;
$-border-color: #144fc6;
$-water-fill-color: #6ab3f8;
$-images-1: url('https://images.unsplash.com/photo-1681238875566-0e5098d274dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
$-image-2: url('https://images.unsplash.com/photo-1595349900618-657a80f4538c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
$-image-3: url('https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
$-image-4: url('https://images.unsplash.com/photo-1681036149898-8e61fd929ce1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
$-image-5: url('https://images.unsplash.com/photo-1680718293124-7e9b5e95baa7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
$-image-6: url('https://images.unsplash.com/photo-1623780533251-7a77e0c09dcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	background-color: $-right-bg-color;
	color: #fff;
	display: flex;
	font-family: 'Roboto', sans-serif;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
