/*/ for root variables */

:root {
	--primary-color: #b38add;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e2e1dc;
}

.container {
	position: relative;
	width: 1200px;
	min-height: 850px;
	margin: 0 auto;
	padding: 5px;
	color: #fff;
	display: flex;
	border-radius: 10px;
	background-color: #373c4f;
}

.left {
	width: 90%; /* / will be add 60% */
	padding: 20px;
}

.calendar {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #878895;
	border-radius: 5px;
	background-color: #fff;
}

.calendar::before,
.calendar::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	width: 12px;
	height: 97%;
	border-radius: 0 5px 5px 0;
	background-color: #d3d5d6d7;
	transform: translateY(-50%);
}

.calendar::before {
	height: 94%;
	left: calc(100% + 12px);
	background-color: rgba(153, 153, 153);
}

.calendar .month {
	width: 100%;
	height: 150px;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
	cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
	color: var(--primary-color);
}

/* / weekdays  */
.calendar .weekdays {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: capitalize;
}

.calendar .weekdays div {
	width: 14.28%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* / days */
.calendar .days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1.2rem;
}

.calendar .days div {
	width: 14.28%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--primary-color);
	border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover {
	background-color: var(--primary-color);
	color: #fff;
}

.calendar .days .prev-data,
.calendar .days .prev-next {
	color: #b3b3b3;
}

.calendar .days .active {
	position: relative;
	font-size: 2rem;
	color: #fff;
	background-color: var(--primary-color);
}

.calendar .days .active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 2px var(--primary-color);
}

.calendar .days .today {
	font-size: 2rem;
}

.calendar .days .event {
	position: relative;
}

.calendar .days .event ::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 75%;
	height: 6px;
	border-radius: 30px;
	transform: translateX(-50%);
	background-color: var(--primary-color);
	/* box-shadow: 0 0 10px 2px var(--primary-color); */
}

.calendar .event:hover::after {
	background-color: #fff;
}

.calendar .active.event::after {
	background-color: #fff;
	bottom: 20%;
}

.calendar .active.event {
	padding-bottom: 10px;
}

/* / goto start */
.calendar .goto-today {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 0 20px;
	margin-bottom: 20px;
	color: var(--primary-color);
}

.calendar .goto-today .goto {
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--primary-color);
}

.calendar .goto-today .goto input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 20px;
	color: var(--primary-color);
}

.calendar .goto-today button {
	padding: 5px 10px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: var(--primary-color);
}

.calendar .goto-today button:hover {
	color: #fff;
	background-color: var(--primary-color);
}

.calendar .goto-today .goto button {
	border: none;
	border-left: 1px solid var(--primary-color);
	border-radius: 0;
}
