@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

$-left-bg-color: black;
$-right-bg-color: #5290f9;

* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: $-right-bg-color;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	flex-wrap: wrap;
	color: #fff;
}