@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #f5f5f5;
$-secondary-color: steelblue;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: $-primary-color;
	flex-direction: column;
}

.title {
	margin: 10px 0 0;
	text-align: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1000px;

	img {
		object-fit: cover;
		margin: 10px;
		height: 300px;
		width: 300px;
		max-width: 100%;
		animation: fadeIn 1s ease-in-out;

		&.loaded {
			opacity: 0;
			animation: fadeIn 1s ease-in-out forwards;
		}
	}
}

// point : animation

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
