@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f5f5f5;
}

h1 {
	color: rgb(179, 131, 226);
	font-size: 3rem;
	margin-bottom: 2rem;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.input {
	border: none;
	color: #444;
	font-size: 1.8rem;
	padding: 0.8rem 1.2rem;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	width: 100%;

	&::placeholder {
		color: #d5d5d5;
	}

	&:focus {
		outline-color: rgb(179, 131, 226);
	}
}

.add-button {
	border: none;
	background-color: #444;
	color: #fff;
	font-size: 1.8rem;
	padding: 0.8rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: rgb(179, 131, 226);
	}
}

.todos {
	background-color: #fff;
	padding: 0;
	margin: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	max-width: 400px;
	overflow-y: auto;

	li {
		border-top: 1px solid #e5e5e5;
		padding: 1rem 2rem;
		font-size: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #f8f8f8;
		cursor: pointer;
		transition: background-color 0.3s;
		opacity: 0;

		animation: fade-in 0.5s ease-in-out forwards,
			scale-in 0.3s ease-in-out 0.1s forwards;

		&:nth-child(even) {
			background-color: #fff;
		}

		&:nth-child(odd) {
			background-color: #f8f8f8;
		}

		&:hover {
			background-color: #ebebeb;
		}

		&:last-child {
			border-bottom: 1px solid #e5e5e5;
		}

		&.completed {
			text-decoration: line-through;
			color: #777;
			background-color: #d9d9d9;
		}

		.todo-text {
			flex-grow: 1;
		}

		.todo-options {
			display: flex;
			gap: 0.5rem;
			align-items: center;

			i {
				cursor: pointer;
				transition: color 0.3s;
				font-size: 1.5rem;

				&:hover {
					color: rgb(179, 131, 226);
				}
			}
		}
	}
}

small {
	color: #b5b5b5;
	margin-top: 2rem;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

// point: animation

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
