@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: rgba(155, 89, 182, 0.07);
$-secondary-color: #8e44ad;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: $-primary-color;
}

.phone {
	position: relative;
	overflow: hidden;
	border: 3px solid #eee;
	border-radius: 0.9rem;
	height: 600px;
	width: 340px;

	.content {
		opacity: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100% - 60px);
		width: 100%;
		transition: opacity 0.4s ease;

		&.show {
			opacity: 1;
		}
	}

	nav {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-top: -5px;
		width: 100%;

		ul {
			background-color: $-color-white;
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;
			height: 60px;

			li {
				color: #777;
				cursor: pointer;
				flex: 1;
				padding: 10px;
				text-align: center;

				p {
					font-size: 12px;
					margin: 2px 0;
				}

				&:hover,
				&.active {
					color: $-secondary-color;
				}
			}
		}
	}
}
