@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// root file
$-primary-color: #516dff;
$-secondary-color: steelblue;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Press Start 2P', sans-serif;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	background-color: $-primary-color;
	color: $-color-white;
}

.btn {
	border: 0;
	background-color: $-color-white;
	color: $-primary-color;
	padding: 1rem 1.2rem;
	font-family: inherit;
	cursor: pointer;
	margin-top: 1.2rem;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $-secondary-color;
		color: $-color-white;
	}
}

.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;

	.insects-list {
		li {
			.choose-insect-btn {
				img {
					width: 100px;
					height: 100px;
					object-fit: contain;
				}
			}
		}
	}
}
