@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap');

// root file
$-primary-color: #f5f5f5;
$-secondary-color: steelblue;
$-color-white: #fff;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
}

.background {
	background: url('https://images.unsplash.com/photo-1543253539-58c7d1c00c8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80')
		no-repeat center center/cover;
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	z-index: -1;
	filter: blur(20px);
}
.password-strength-feedback {
	color: #ff0000;
	font-weight: bold;
	margin-top: 0.5rem;
}
